<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../js/greeting.js"></script>
    <link rel="stylesheet" href="../css/greeting.css">
</head>
<body>
    <div id="here_table"></div>
    <h1 id="name"></h1>
    <button id="btn" onclick="firstTable()"></button>
    Name: <input id="name_ipt" type="text">
    email: <input id="email_ipt" type="email"> <br>
    <button id="save_btn" onclick="saveToDb2()">Save</button>

</body>
</html>
